<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Vertafore Internal" value="https://v4target.pkgs.visualstudio.com/_packaging/Vertafore.NuGet/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Vertafore_x0020_Internal>
      <add key="Username" value="VSTSAccessToken" />
      <add key="ClearTextPassword" value="vfvxayiwhbfra4tuavusyq3dfjhfoygkn4fjhbzpc4zsi5jz5o6a" />
    </Vertafore_x0020_Internal>
  </packageSourceCredentials>
</configuration>